API_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create</name>
        <label>Create</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <actionName>GetField.GetFields</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Authorization</name>
            <value>
                <stringValue>Access Token</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>content_type</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>GetData</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetField.GetFields</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get</name>
        <label>Get</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>API.API</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Authorization</name>
            <value>
                <stringValue>Access Token</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Content_Type</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputParameters>
        <nameSegment>API.API</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Access_Token</name>
        <label>Get Access Token</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>getToken.Test</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assign_Access</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Authorization</name>
            <value>
                <stringValue>application/x-www-form-urlencoded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grant_type</name>
            <value>
                <stringValue>password</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <stringValue>username</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <stringValue>password</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_id</name>
            <value>
                <stringValue>client_id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <stringValue>client_secret</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getToken.Test</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Access</name>
        <label>Assign Access</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Access_Token</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Access_Token.2XX.accessx5ftoken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Test</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>API Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path_1</name>
            <connector>
                <targetReference>Get_Access_Token</targetReference>
            </connector>
            <label>Scheduled Path 1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Access_Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetData</name>
        <apexClass>ExternalService__GetField_GetFields_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
