createLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateRecord</name>
        <label>CreateRecord</label>
        <locationX>538</locationX>
        <locationY>648</locationY>
        <actionName>createRecord.CreateRecord</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Authorization</name>
            <value>
                <elementReference>AccesssTokenFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Content_Type</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>getApex</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createRecord.CreateRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetAccessToken</name>
        <label>GetAccessToken</label>
        <locationX>542</locationX>
        <locationY>351</locationY>
        <actionName>getAccessToken.GetAccessToken</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>assignGetApex</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Authorization</name>
            <value>
                <stringValue>application/x-www-form-urlencoded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_id</name>
            <value>
                <stringValue>client_id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <stringValue>client_secret</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grant_type</name>
            <value>
                <stringValue>password</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <stringValue>password</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <stringValue>username</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getAccessToken.GetAccessToken</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignGetApex</name>
        <label>assignGetApex</label>
        <locationX>538</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>getApex.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApex.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApex.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>AccesssTokenFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Bearer &apos;+{!GetAccessToken.2XX.accessx5ftoken}</expression>
    </formulas>
    <interviewLabel>createLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>544</locationX>
        <locationY>48</locationY>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Time_Schedule1</name>
            <connector>
                <targetReference>GetAccessToken</targetReference>
            </connector>
            <label>Time Schedule1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>access_Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getApex</name>
        <apexClass>ExternalService__createRecord_CreateRecord_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
